= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css', media: 'all'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js'

.futurepanel
  .futurepanel__header
    h1.futurepanel__title Status
  .futurepanel__body
    #team-network data-connections="#{Connection.all.to_json}" data-users="#{User.all.to_json}"

javascript:
  var network;

  function redrawAll() {
    // create a network
    var container = document.getElementById('team-network');
    var data = {
      nodes: new vis.DataSet(JSON.parse(container.dataset.users)),
      edges: new vis.DataSet(JSON.parse(container.dataset.connections)),
    };
    var options = {
      nodes: {
        shape: 'dot',
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 5,
        color: {inherit: 'from'},
        smooth: {
          type: 'continuous'
        }
      },
      physics: {
        stabilization: true,
        barnesHut: {
          gravitationalConstant: -80000,
          springConstant: 0.001,
          springLength: 200
        }
      },
      interaction: {
        dragNodes: false,
        dragView: false,
        selectable: false
      }
    };

    network = new vis.Network(container, data, options);
  }

  redrawAll()
