= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css', media: 'all'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js'

.futurepanel
  .futurepanel__header
    h1.futurepanel__title Status
  .futurepanel__body
    #team-network data-connections="#{Team.connections_by_team.to_json}"

javascript:
  var network;

  function redrawAll() {
    // create a network
    var container = document.getElementById('team-network');
    var data = {
      nodes: new vis.DataSet([
        {id: 1, label: 'Node 1'},
        {id: 2, label: 'Node 2'},
        {id: 3, label: 'Node 3'},
        {id: 4, label: 'Node 4'},
        {id: 5, label: 'Node 5'}
      ]),
      edges: new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 2, to: 4},
        {from: 2, to: 5}
      ]),
    };
    var options = {
      nodes: {
        shape: 'dot',
        scaling: {
          min: 10,
          max: 30
        },
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 0.15,
        color: {inherit: 'from'},
        smooth: {
          type: 'continuous'
        }
      },
      physics: {
        stabilization: false,
        barnesHut: {
          gravitationalConstant: -80000,
          springConstant: 0.001,
          springLength: 200
        }
      },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: true
      }
    };

    // Note: data is coming from ./datasources/WorldCup2014.js
    network = new vis.Network(container, data, options);
  }

  redrawAll()
