$gray: rgb(255, 255, 255);
$blue: rgb(120, 200, 255);
$dark-blue: rgb(120, 200, 255);
$green: rgb(100, 200, 100);
$red: rgb(255, 120, 120);
$dark-red: rgb(120, 0, 0);
$black: rgb(0, 0, 0);
$yellow: rgb(255, 200, 0);

$font-stack: 'Exo 2', Arial, sans-serif;
$text-color: $gray;

@mixin futuristic-text($size: 14px, $weight: 100) {
  font: normal $weight #{$size}/1.2em $font-stack;
  letter-spacing: .06em;
  color: $text-color;
}
