@import 'futuristic-style-colors';

.futurepanel {
  width: 100%;
}

.team {
  font-size: 20px;
  text-align: center;
}

.team img {
  height: 150px;
}

.team-network {
  height: 600px;
}

.copyright-notice {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  a {
    margin-left: 5px;
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:visited {
    color: $blue;
  }
  &:hover {
    color: rgba($blue, .8);
  }
}
