@import 'futuristic-style-mixins';

body > * {
  width: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  &:visited {
    color: $blue;
  }
  &:hover {
    color: rgba($blue, .8);
  }
}

.copyright-notice {
  @include futuristic-text();
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  a {
    margin-left: 5px;
  }
}

.team {
  font-size: 20px;
  text-align: center;
}

.team img {
  height: 150px;
}

.team-network {
  height: 600px;
}

.state-link {
  text-align: center;
  margin: 10px 5px;
}

.checkbox {
  @include futuristic-text();
  display: inline-block;
}

input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
}

.panel-header > *, .nickname-form > * {
  display: inline-block;
  vertical-align: middle;
}

.panel-header {
  line-height: 36px;
}

.edit-button, .nickname-form > input[type="submit"] {
  margin-left: 5px;
}

.nickname-form > input[type="text"] {
  width: auto;
}

.hidden {
  display: none;
}

.futuremetric {
  height: 2.5em;
  width: 2.5em;
  padding: 0;

  .futuremetric__value {
    font-size: 1.2em;
    margin-top: .3em;
  }
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.points {
  float: right;
}

.farewell-message {
  color: $red;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin: 24px 0;
}
